<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>I discovered coding in 2014 and haven't stopped since. I saw my first source code in my junior year of high school and immediately knew I had found my passion. I taught myself C++ by adding dozens of features to the Impressive Title source code through commissions and personal projects. After graduating high school, I continued my commission work as I earned my Bachelor's degree in Computer Science, padding my existing knowledge with good coding practices and advanced concepts. In 2021 I began development on my own program, an editor utility made for Impressive Title servers, allowing me to expand my knowledge further by applying concepts to real-life coding problems.</p>
					<br>
					<p>Though my experience is primarily C++, I worked with several other languages in college and I taught myself most of what I know through hands-on work. I am confident in my ability to read code syntax and follow logic flow in order to adapt to new languages and environments. I am eager for the opportunity to become part of a team and both showcase my abilities and further expand my skillset.</p>
                    <hr class="has-background-black">				
                    <p>
					<center>hunterawalden@gmail.com | 774.275.9444 |<a href=https://github.com/HunterWalden>github.com/HunterWalden</a></center>
					</p>
					<hr class="has-background-black">
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#projects"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>