<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        MAPMAKER
    </a>
    <div class="navbar-dropdown has-background-black is-left">
	
	<a href="{{site.url}}{{site.baseurl}}/mapmaker.html"
            class="navbar-item has-text-grey-light"> <!-- TODO {% if page.title == /mapmaker/ %}is-active{% endif %}-->
            Main
        </a>
		
	<a href="{{site.url}}{{site.baseurl}}/mapmaker.html#coding-practices" class="navbar-item has-text-grey-light">
            Coding Practices
        </a>
		
	<a href="{{site.url}}{{site.baseurl}}/mapmaker/mapobjects.html" class="navbar-item has-text-grey-light">
            Showcase: Polymorphism
        </a>
		
	<a href="{{site.url}}{{site.baseurl}}/mapmaker/undoredo.html" class="navbar-item has-text-grey-light">
            Showcase: Undo/Redo
        </a>
        <!-- <hr class="navbar-divider">
    <a class="navbar-item">
      Report an issue
    </a> -->
    </div>
</div>